.content main {
    max-width: none;
}

.content main > * {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: var(--content-max-width);
}

.content main > .table-wrapper {
    max-width: none;
    padding: 15px;
}

.light img[src$="#dark-only"],
.rust  img[src$="#dark-only"] {
    display:none;
}

.navy img[src$="#light-only"],
.ayu  img[src$="#light-only"],
.coal img[src$="#light-only"] {
    display:none;
}
